# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/

# Django
db.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Игнорировать медиафайлы в папке cinemaportal
/cinemaportal/media/